.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal{
    border:1px solid green;
    height:200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, transform 2s ;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transform: translate(5px,50px);
    cursor: pointer;
    transition: box-shadow 1s, transform 2s ;
}

body{
    background: url("C:/Users/ayrto/OneDrive/Desktop/unit-4-game/assets/images/crystal_caverns_by_cakeklis-dc8brhg.jpg") no-repeat;
    background-size:cover;
    
    
  
}

h1{
    color: rgb(0, 140, 255);
    font-family: 'CRYSTALRegular'; 
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
  
}

h2{
    color: rgba(0, 225, 255, 0.609);
    
}

h3{
    color:rgba(255, 0, 76, 0.644);
    
}

img{
    width:50px;
}

p{
    font-size:30px;
    text-align: center;
    font-weight: bold;
    font-family: 'CRYSTALRegular'; 
}

