.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal{
    border:1px solid green;
    height:200px;
    width: 200px;
}

body{
    background-image: url("C:/Users/ayrto/OneDrive/Desktop/unit-4-game/assets/images/Background.jpg");
    background-size: 120%;
}

h1{
    color:white;
    font-display: Helvetica;
}

h2{
    color:plum;
}

h3{
    color:red;
}

